{% extends "main/layout/base.html" %}

{% block title %}
    <title>Главная</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../../static/main/css/index.css" media="screen">
{% endblock %}

{% block content %}
    <section class="u-align-center u-clearfix u-section-1" id="sec-f1b5">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-expanded-width u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    {% for el in brands %}
                        <div class="u-container-style u-list-item u-repeater-item" data-href="{{ el.get_absolute_url }}" rel="nofollow">
                            <div class="u-container-layout u-similar-container u-container-layout-3">
                                <img alt="" class="u-expanded-width u-image u-image-default u-image-3" data-image-width="640" data-image-height="640" src="{{el.image}}">
                                <h3 class="u-text u-text-default u-text-1">{{el.name}}</h3>
                                <p class="u-text u-text-2"> {{el.description}}
                                </p>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-section-2" id="sec-7a9b">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-expanded-width u-gallery u-layout-horizontal u-lightbox u-no-transition u-show-text-on-hover u-gallery-1" id="carousel-cd08">
                <div class="u-gallery-inner u-gallery-inner-1" role="listbox"><div class="u-effect-fade u-gallery-item u-gallery-item-1"><div class="u-back-slide" data-image-width="1280" data-image-height="1280"><img class="u-back-image" src="../../static/main/img/VV1.jpg">
                </div><div class="u-align-center u-over-slide u-shading u-over-slide-1"><h3 class="u-gallery-heading"></h3><p class="u-gallery-text"></p>
                </div>
                </div><div class="u-effect-fade u-gallery-item u-gallery-item-2"><div class="u-back-slide" data-image-width="1280" data-image-height="1280"><img class="u-back-image" src="../../static/main/img/VV2.jpg">
                </div><div class="u-align-center u-over-slide u-shading u-over-slide-2"><h3 class="u-gallery-heading"></h3><p class="u-gallery-text"></p>
                </div>
                </div><div class="u-effect-fade u-gallery-item u-gallery-item-3"><div class="u-back-slide" data-image-width="1280" data-image-height="1280"><img class="u-back-image" src="../../static/main/img/VV.jpg">
                </div><div class="u-align-center u-over-slide u-shading u-over-slide-3"><h3 class="u-gallery-heading"></h3><p class="u-gallery-text"></p>
                </div>
                </div><div class="u-effect-fade u-gallery-item u-gallery-item-4"><div class="u-back-slide" data-image-width="1280" data-image-height="1280"><img class="u-back-image" src="../../static/main/img/YY1.jpg">
                </div><div class="u-align-center u-over-slide u-shading u-over-slide-4"><h3 class="u-gallery-heading"></h3><p class="u-gallery-text"></p>
                </div>
                </div><div class="u-effect-fade u-gallery-item u-gallery-item-5"><div class="u-back-slide" data-image-width="1280" data-image-height="1280"><img class="u-back-image" src="../../static/main/img/VV3.jpg">
                </div><div class="u-align-center u-over-slide u-shading u-over-slide-5"><h3 class="u-gallery-heading"></h3><p class="u-gallery-text"></p>
                </div>
                </div><div class="u-effect-fade u-gallery-item u-gallery-item-6"><div class="u-back-slide" data-image-width="1280" data-image-height="1280"><img class="u-back-image" src="../../static/main/img/YY2.jpg">
                </div><div class="u-align-center u-over-slide u-shading u-over-slide-6"><h3 class="u-gallery-heading"></h3><p class="u-gallery-text"></p>
                </div>
                </div></div>
                <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-1" href="#" role="button">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
                    <span class="sr-only">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
                </a>
                <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-2" href="#" role="button">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
                    <span class="sr-only">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
                </a>
            </div>
            <h2 class="u-text u-text-default u-text-1">Все товары<span style="font-weight: 700;"></span>
            </h2><!--product--><!--product_options_json--><!--{"source":""}--><!--/product_options_json--><!--product_item-->
            {% for it in items %}
            <div class="u-align-left u-container-style u-expanded-width u-product u-product-1">
                
                <div class="u-container-layout u-container-layout-1" data-href="{{ it.get_absolute_url }}"><!--product_gallery--><!--options_json--><!--{"maxItems":""}--><!--/options_json-->
                    <div class="u-carousel u-gallery u-layout-thumbnails u-lightbox u-no-transition u-product-control u-show-text-none u-thumbnails-position-left u-gallery-2" data-interval="5000" data-u-ride="carousel" id="carousel-0c74">
                        <div class="u-carousel-inner u-gallery-inner" role="listbox"><!--product_gallery_item-->
                            <div class="u-active u-carousel-item u-gallery-item">
                                <div class="u-back-slide" data-image-width="1280" data-image-height="1280">
                                    <img class="u-back-image u-expanded" src="{{ it.image }}">
                                </div>
                                <div class="u-over-slide u-over-slide-7">
                                    <h3 class="u-gallery-heading">Sample Title</h3>
                                    <p class="u-gallery-text">Sample Text</p>
                                </div>
                            </div><!--/product_gallery_item--><!--product_gallery_item-->
                            <div class="u-carousel-item u-gallery-item">
                                <div class="u-back-slide" data-image-width="719" data-image-height="1280">
                                    <img class="u-back-image u-expanded" src="{{ it.image2 }}">
                                </div>
                                <div class="u-over-slide u-over-slide-8">
                                    <h3 class="u-gallery-heading">Sample Title</h3>
                                    <p class="u-gallery-text">Sample Text</p>
                                </div>
                            </div><!--/product_gallery_item-->
                        </div>
                      
                    </div><!--/product_gallery-->
                    
                    <h2 class="u-text u-text-2">{{ it.name }}</h2>
                    <p class="u-custom-font u-heading-font u-text u-text-3">{{ it.price }} ₽&nbsp;</p>
                    <p class = "pipka"> {{it.description|linebreaks}}
                    </p><!--product_button--><!--options_json--><!--{"clickType":"go-to-page","content":""}--><!--/options_json-->

                </div>
                
            </div><!--/product_item--><!--/product--><!--product--><!--product_options_json--><!--{"source":""}--><!--/product_options_json--><!--product_item-->
            {% endfor %}
        </div>
    </section>
{% endblock %}
